MONGODB_URI=mongodb+srv://charkupallinikhil_db_user:dV5jo17eLfOI8Q4o@cluster0.n2hlht8.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=foodbridge_ai
JWT_SECRET=uRPxhrBEUgPpiezvlGCBAlyWy_Ingd6x-xNdNKuAJQ7h078trXCeQripznp-SKRg